# Récupère ces valeurs dans Supabase > Project Settings > API
NEXT_PUBLIC_SUPABASE_URL=https://vezptlccslddqtomzdhs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZlenB0bGNjc2xkZHF0b216ZGhzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM0MTc4ODIsImV4cCI6MjA5ODk5Mzg4Mn0.TUoiFpswNwuKu9wxsaVcTb8LrOr7VCWrjJgRPzU1jC0
# ATTENTION: cette clé ne doit JAMAIS être exposée au client. Utilisée uniquement dans /app/api/*
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZlenB0bGNjc2xkZHF0b216ZGhzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzQxNzg4MiwiZXhwIjoyMDk4OTkzODgyfQ.VL4_SZ1I3RJl8jverMTkz0vyv1FA5n4r8yegFS_Kocs
